server:
  port: 8091

# 线程 pool 配置
thread:
  pool:
    executor:
      config:
        core-pool-size: 20
        max-pool-size: 50
        keep-alive-time: 5000
        block-queue-size: 5000
        policy: CallerRunsPolicy

# 数据库配置
spring:
  datasource:
    # 数据源类型
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.21.130:13306/big_market?useUnicode=true&characterEncoding=utf8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&serverTimezone=UTC&useSSL=false

    # hikari 必须是 datasource 的子属性
    hikari:
      pool-name: Retail_HikariCP
      minimum-idle: 15
      maximum-pool-size: 25
      idle-timeout: 180000
      max-lifetime: 1800000
      connection-timeout: 30000
      auto-commit: true
      connection-test-query: SELECT 1

# MyBatis 配置
mybatis:
  mapper-locations: classpath:/mybatis/mapper/*.xml
  config-location: classpath:/mybatis/config/mybatis-config.xml

# Redis 配置
redis:
  sdk:
    config:
      host: 192.168.21.130
      port: 16379
      pool-size: 10
      min-idle-size: 5
      idle-timeout: 30000
      connect-timeout: 5000
      retry-attempts: 3
      retry-interval: 1000
      ping-interval: 60000
      keep-alive: true

# 日志配置
logging:
  level:
    root: info
    # 建议开启 dao 层的 debug 日志，方便排查 SQL 问题
    com.c.infrastructure.adapter.repository: debug
  config: classpath:logback-spring.xml